*{
  padding: 0;
  margin: 0;
}

body,html{
  font-size: 14px;
  color: #000;
  background: #fff;
  font-family: Helvetica Neue,Helvetica,Segoe UI,Arial,Hiragino Sans GB,Microsoft YaHei;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
ul li {
  list-style: none;
  line-height: 0%;
}

input {
  margin-bottom:10px;
  width:193px;
  height:30px;
  border-radius: 5px;
  border:1px solid #ddd;
  padding-left:5px;
}
input[type="button"] {
  padding:5px 15px;
  width:100px;
  margin:10px 0px 5px 25px;
}

.mask{
  position: fixed;
  width:200%;
  height: 200%;
  top:0;
  left:0;
  z-index:99;
  background-color: rgba(175,175,175,.8);
}

.login{
position: fixed;
top:50%;
left:50%;
width:200px;
margin-left:-116px;
margin-top:-78px;
padding:15px;
border: 1px solid #aaa;
border-radius:5px;
z-index: 99999;
background: #fff;
}

.login li input {
  margin-bottom:10px;
  width:193px;
  height:30px;
  border-radius: 5px;
  border:1px solid #ddd;
  padding-left:5px;
}
.login li input[type="button"] {
  padding:5px 15px;
  width:60px;
  margin:10px 0px 5px 25px;
}

